<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineBookStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineBookStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <h1>Book List</h1>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <section>
                    <figure class="Book">
                        <a href="https://en.wikipedia.org/wiki/The_Da_Vinci_Code">
                            <img src="~/css/DaVinciCode.jpg" alt="DaVinciCode" height="300" width="200">
                        </a>
                        <a href="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Philosopher%27s_Stone">
                            <img src="~/css/Harry_Potter_and_the_Philosopher's_Stone_Book_Cover.jpg" alt="Harry_Potter" height="300" width="200">
                        </a>
                        <a href="https://en.wikipedia.org/wiki/The_Hobbit">
                            <img src="~/css/thehobbit.jpg" alt="thehobbit" height="310" width="218">
                        </a>
                        <a href="https://en.wikipedia.org/wiki/The_Little_Prince">
                            <img src="~/css/LittlePrince.jpg" alt="littleprince" height="310" width="218">
                        </a>
                        <a href="https://en.wikipedia.org/wiki/The_Alchemist_(novel)">
                            <img src="~/css/alchemist.jpg" alt="alchemist" height="310" width="218">
                        </a>
                        <a href="https://en.wikipedia.org/wiki/Don_Quixote">
                            <img src="~/css/don.jpg" alt="don" height="310" width="218">
                        </a>
                        <a href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">
                            <img src="~/css/lord.jpg" alt="lord" height="310" width="218">
                        </a>
                        
                    </figure>

                </section>
            </div>

        </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineBookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
